.link {
  padding: 5px 10px;
  background: transparent;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 5px;
}

.link:hover {
  background: white;
  color: #2575fc;
}