* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-geist-sans), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}