.form {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  gap: 10px;
}

.error {
  color: #dd0000;
  white-space: pre-line;
}

.inputGroup {
  text-align: left;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #6a11cb;
  outline: none;
}

.submitButton {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.submitButton:hover {
  background: linear-gradient(135deg, #5a0dbb, #1f5ae0);
}